<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <meta property="og:title" content="Anshuman Dubey's book with poems that change our perception on life">
    <meta property="og:image" content="https://images-na.ssl-images-amazon.com/images/I/41eKfFFYQ5L._UY250_.jpg">
      <meta property="og:url" content="http://www.tenderyearsbook.org">
      <meta property="og:site_name" content="Tender Years Book">
      <meta property="og:type" content="books.book">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{assets}}/theme/css/main.css" />
    <link rel="stylesheet" href="{{assets}}/theme/css/lightbox.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="index">
    <div id="page-wrapper">

      {{> header }}

      {{> body}}

      {{> footer}}

    </div>

    <!-- Scripts -->
      <script src="{{assets}}/theme/js/jquery.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.dropotron.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.scrolly.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.scrollgress.min.js"></script>
      <script src="{{assets}}/theme/js/skel.min.js"></script>
      <script src="{{assets}}/theme/js/util.js"></script>
      <script src="{{assets}}/theme/js/lightbox.min.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="{{assets}}/theme/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73398689-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
