<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{assets}}/theme/css/main.css" />
    <link rel="stylesheet" href="{{assets}}/theme/css/lightbox.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body class="index">
    <div id="page-wrapper">

      {{> header }}

      {{> body}}

      {{> footer}}

    </div>

    <!-- Scripts -->
      <script src="{{assets}}/theme/js/jquery.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.dropotron.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.scrolly.min.js"></script>
      <script src="{{assets}}/theme/js/jquery.scrollgress.min.js"></script>
      <script src="{{assets}}/theme/js/skel.min.js"></script>
      <script src="{{assets}}/theme/js/util.js"></script>
      <script src="{{assets}}/theme/js/lightbox.min.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="{{assets}}/theme/js/main.js"></script>

  </body>
</html>
